body, html {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

iframe {
	width: 960px;
	height: 720px;
}

#video1 {
	margin: auto;
}

#soundboard {
	background-image: url('../images/BG.png');
	background-position: center;
	background-repeat: no-repeat;
}

.wrapper {
	max-width: 960px;
	margin: auto;
	color: #fff;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	margin: 5% 10px 5% 10px;
	text-align: center;
}

a.soundbutton {
	background-color: #4A91E3;
	color: #ffffff;
	font-size:	1.5em;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	padding: 3%;
	display: inline-block;
	margin: 10px;
	box-shadow: 0px 3px 0px #3569A3;
}

a.soundbutton:hover {
	cursor: pointer;
}

@media (max-width: 768px) {
	a.soundbutton {
		font-size: 1em;
		margin: 5px;
	}
	h1 {
		font-size: 1.5em;
	}

	iframe {
		width: 100%;
	}
}